body{
    word-break: keep-all;
    font-family: 'HelveticaLTWXX-Roman','Noto Sans KR',Helvetica,sans-serif;
}

header{
    
    height: 128.56px;
    padding: 30px 30px 0 30px;
    margin: 0 auto;
}

main{
    height: 1455px;
}

footer{
    margin: 0 0 0 30px;
}

input[id ="hm_icon"]{
    display: none;
}

input[id ="hm_icon"]+label{
    display: block;
    width: 40px;
    height: 23px;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    top: 25px;
    margin: 40px 0 0px 0px;
}

input[id ="hm_icon"]+ label span{
    background-color: black;
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    transition: all 0.35s;
}

input[id ="hm_icon"]:checked+label{
    z-index: 2;
}

input[id ="hm_icon"]+label span:nth-child(1){
    top : 0;
}

input[id ="hm_icon"]+label span:nth-child(2){
    top : 50%;
    transform: translate(0,-50%);
    
}

input[id ="hm_icon"]+label span:nth-child(3){
    bottom :0;
}

input[id ="hm_icon"]:checked+label span:nth-child(1){
    top : 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id ="hm_icon"]:checked+label span:nth-child(2){
    opacity: 0;
}

input[id ="hm_icon"]:checked+label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

div[class="sideBar"]{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    transition:all 0.1s;
    background-color: white;
    z-index: 1;
}

input[id = "hm_icon"]:checked+label+div{
    left: 0;
}

#sideBar_menu1{
    margin: 140px 0 0 0;
}

#unlist_menu1{
    list-style: none;
}

#unlist_menu2{
    list-style: none;
    padding-top: 10px;
}


#black{
    color: black;
    font-size: 13px;
    font-family: HelveticaLTWXX-Bold;
    font-weight: bold;
    line-height: 1.6;
}

#black>a{
    text-decoration: none;
    color: black;
}

#red{
    font-size: 13px;
    font-family: HelveticaLTWXX-Bold;
    font-weight: bold;
    line-height: 1.6;
    padding: 10px 0 0 0;
}

#red>a{
    text-decoration: none;
    color: red;
}

#unlist_menu1 > li:not(:first-child, :last-child){
    font-size: 13px;
    font-family: HelveticaLTWXX-Bold;
    font-weight: bold;
    line-height: 1.6;
    padding: 10px 0 0 0;
}

.unlist_color{
    text-decoration: none;
    color: #999;
}

#unlist_menu2 > li{
    font-size: 13px;
    font-family: HelveticaLTWXX-Bold;
    font-weight: bold;
    color: black;
    line-height: 1.6;
    padding: 10px 0 0 0;
}

#unlist_menu1>li>a:hover{
    text-decoration: underline;
}

#unlist_menu2>li>a{
    text-decoration: none;
    color: black;
}

#unlist_menu2>li>a:hover{
    text-decoration: underline;
}

#main_logo{
    margin: 0 0 0 470px;
    position: fixed;
    right: 500px;
    z-index: 3;
}

#main_logo >img{
    width: 640px;
    display: inline-block;
}

#right_menu{
    position: fixed;
    right : 25px;
    top: 30px;
    z-index: 4;
}

#right_menu > ul{
    list-style: none;
    font-size: 12px;
    font-family: 'HelveticaLTWXX-Bold','Noto Sans KR',Helvetica,sans-serif;
    line-height: 1.6;
    font-weight: bold;
    text-align: right;
}

#korea{
    margin: -2px;
}

.underline{
    text-decoration: none;
    color: black;
}

a.underline:hover{
    text-decoration: underline;
    cursor: pointer;
}

#topsearchline{
    width: 100%;
    height: 140px;
    position: fixed;
    top: -140px;
    left: 0;
    background-color: white;
    transition: all .35s;
}

#topsearchline>img{
    width: 32px;
    height: 32px;
    right: 0;
}

#topsearchbar{
    width: 90.5%;
    height: 60px;
    margin: 40px 0px 0 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    background-image: url(./ms-search.png) ;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: 0px 35px;
    font-size: 20px;
    padding: 20px 0 0 50px;;
    outline: none;
}

.searchclick{
    color: black;
    text-decoration: none;
}

#search>a:hover.searchclick{
    text-decoration: underline;
}

#imgclose{
    cursor: pointer;
}

footer > ul{
    font-size: 12px;
    list-style: none;
    display: inline-block;
    padding: 20px 0 0 0;
}

.info{
    padding: 0 0 0 160px;
}

#bottom_menu_bar{
    height: 42px;
    margin: 110px 0 0 0px;
    position: relative;
}

#bottom_menu_bar ul>li{
    display: inline-block;
    margin: 0 20px 0 0;
}

#bottom_menu_bar>ul{
    margin: 0px 0 0 520px;
    width: 800px;
    height: 42px;
}

#bottom_menu_bar>ul>li>a{
    font-size: 12px;
    color: red;
    font-weight: bold;
}

.menu_color>a>span{
    color: black;
    font-size: 12px;;
    font-weight: bold;
}

#bottom_menu_bar{
    position: relative;
}

#bottom_menu_bar>ul>li>a{
    text-decoration: none;
}

#outer{
    text-decoration: underline;
}

#bottom_menu_bar>ul>li>a:hover{
    text-decoration: underline;
}

#filter_menu{
    position: absolute;
    right: 0;
    top: 0;
}

input[id ="filter"]+label span{
    background-color: #999;
    width: 9px;
    height: 3px;
    display: inline-block;
    margin: 0px 3px 3px -12px;
}

input[id ="filter"]{
    display: none;
}

input[id="filter"]+label{
    width: 30px;
    height: 30px;
}

input[id ="filter"]+label div{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
}

#filter_icon_1{
    transform: rotate(45deg);
}

#filter_icon_2{
    transform: rotate(135deg);
}

input[id="filter"]:checked+label #filter_icon_1{
    transform: rotate(-45deg);
}

input[id="filter"]:checked+label #filter_icon_2{
    transform: rotate(-135deg);
}

#filter_menu_whrit >span{
    font-size: 12px;
    display: block;
    color: #999;
    margin: 3px 0 0 0px;
}

#filter_menu_whrit {
    margin: 0 0 0 -70px;
    display: none;
}

input[id ="filter"]:checked+label+#filter_menu_whrit{
    display: block;
    position: absolute;
    z-index: 2;
}

#filter_menu_whrit>span:hover{
    text-decoration: underline;
    cursor: pointer;
}

#main_outer>ul{
    height: 606px;
    margin: 0 0 0 -10px;
}

#main_outer>ul>li{
    display: inline-block;
    width: 400px;
    height: 606px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.firsticon{
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 100%;
    left: 48%;

}

.outer_img_line>a>img{
    width: 405px;
    height: 580px;
}

.outer_text{
    position: absolute;
    top: 90%;
}

.outer_text>span{
    display: block;
    font-size: 12px;
    text-align: center;
    margin: 0 0 0 60px;
}

.outer_img_line:hover .firsticon{
    bottom: 50%;
}

.outer_img_line:hover .outer_opacity_img{
    opacity: 0.5;
}

#main_outer2>ul>li{
    width: 401px;
    height: 645px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}


.outer_opacity_img2{
    width: 400px;
}

.outer_img_icon2{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 150%;
    left: 45%;
}

.outer_text2{
    font-size: 12px;
    position: absolute;
    text-align: center;
}

.outer_img_line2:hover .outer_img_icon2{
    top:50%;
}

.outer_img_line2:hover .outer_opacity_img2{
    opacity: 0.5;
}